html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}


/*Logo*/
.thick-t {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 6.5em;
	color: #666;
	transform: translateY(-.15em);
}

.thin-t {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 5.8em;
	color: #64DDDD;
	transform: translate(-.65em,-.06em);
}

/*Nav*/
