html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	color: #838994;
	letter-spacing: 0.03em;
	margin: 1.5em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Merriweather Sans', sans-serif;
}

a {
	text-decoration: none;
}

/*Logo*/
.thick-t {
	font-family: 'Raleway', sans-serif;
	font-weight: 800;
	font-size: 6.5em;
	color: #666;
	transform: translateY(-.2em);
	display: inline-flex;
	margin-bottom: 0px;
	margin-top: 0px;
}

.thin-t {
	font-family: 'Raleway', sans-serif;
	font-weight: 100;
	font-size: 5.8em;
	color: #64DDDD;
	transform: translate(-.70em,-.26em);
	display: inline-flex;
	margin-bottom: 0px;
	margin-top: 0px;
}

/*Nav*/

.top-nav {
	background-color: #fff;
	display: flex;
	width: 100%;
	z-index: 9999;
	height: 5em;
}

.nav div li {
	list-style-type: none;
	display: inline;
}

.nav div li a {
	color: #64dddd;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}

.nav li a i {
	padding-right: .3em;
}

.nav li a i:hover, .nav li a:hover {
	color: #3FC8C8;
}

.nav-links > li > a {
	color: #838994;
	text-decoration: none;
	margin: .7em;
}

#logo {
	max-width: 1.5em;
	margin-top: 1em;
}

.top-nav .nav-links {
    float: right;
    margin-top: 1.5rem;
    -webkit-font-smoothing: antialiased;
}
.top-nav .nav-links li {
    display: inline-block;
    margin-left: .7rem;
}
.top-nav .nav-links .active {
    color: #4c5058;
    font-weight: 500;
}
.top-nav .nav-links a:hover {
    cursor: pointer;
    color: #333333;
}

.logo {
	width: 50%;
}

.section-links {
	width: 50%;
}

/*Hero Section*/

.hero {
	text-align: center;
	background-color: #666;
	color: #fff;
	padding-top: 6em;
	padding-bottom: 6em;
	margin-top: 1em;
	background-repeat: radial-gradient(circle, white 10%, transparent 10%),
radial-gradient(circle, white 10%, black 10%) 50px 50px;

}

/*Work Section*/

.text-center {
	text-align: center;
}

.Noblis {
	background-image: url('../img/Noblis-Portfolio.svg');
	background-position: center;
	background-size: 20em;
	height: 16em;
	width: 33%;
	background-repeat: no-repeat;
	float: left;
}
.Morning-Envelope {
	background-image: url('../img/MorningEnvelope-Portfolio.svg');
	background-position: center;
	background-size: 20em;
	height: 16em;
	width: 33%;
	background-repeat: no-repeat;
	float: left;
}

.StyleCable {
	background-image: url('../img/StyleCable-Portfolio.svg');
	background-position: center;
	background-size: 20em;
	height: 16em;
	width: 33%;
	background-repeat: no-repeat;
	float: left;
}

.company-type {
	margin-top: 60%;
	margin-bottom: 2%;
	font-weight: lighter;
}

.work-type {
	margin-top: 0px;
	font-weight: lighter;
}

.content {
	height: 18em;
	border-bottom: 10%;
}

.work {
	padding-top: 2em;
}

/*About*/
.about {
	padding-top: 1.5em;
}

/*Contact*/

hr {
	margin-top: 4em;
}

.social {
	list-style: none;
	display: inline-flex;
	padding: 0px;
}

.social-space {
	padding-right: 2em;
}

.icon-space {
	padding-right: .5em;
}

.social-space > a {
	color: #3FC8C8;
}

.social-space > a:hover {
	color: #64dddd;
}

@media only screen and (min-width: 1000px) and (max-width: 1275px) {
	.StyleCable, .Morning-Envelope, .Noblis {
		height: 12em;
	}
	.about {
		margin-top: 6em;
	}
}

@media only screen and (max-width: 1000px) {
	.Noblis, .Morning-Envelope {
		width: 50%;
		margin-bottom: 4%;
		height: 12em;
	}
	.StyleCable {
		width: 100%;
		height: 12em;
		margin: auto 0px;
	}

	.StyleCable > h5 {
		margin-top: 25%;
	}
	.company-type {
		margin-top: 40%;
		margin-bottom: auto;
	}
	.about {
		margin-top: 16em;
	}
	#circles-1 {
		margin: 0px 4%;
	}
}

@media only screen and (max-width: 800px) {
	.Noblis, .Morning-Envelope {
		width: 50%;
		margin-bottom: 10%;
		height: 8em;
	}

	.StyleCable {
		width: 100%;
		height: 10em;
		margin: auto 0px;
	}

	.StyleCable > h5 {
		margin-top: 25%;
	}
	.about {
		margin-top: 16em;
	}
	#circles-1 {
		margin: 0px 4%;
	}

}

@media only screen and (max-width: 725px) {
	.Noblis, .Morning-Envelope, .StyleCable {
		width: 100%;
		margin-bottom: 10%;
		margin-top: 8%;
		height: 10em;
		font-size: 85%;
	}
	.company-type {
		margin-top: 25%;
		margin-bottom: auto;
	}
	.StyleCable > h5 {
		margin-top: 28%;
	}
	.about {
		margin-top: 38em;
	}
	#circles-1 {
		margin: 0px 4%;
	}
}

@media only screen and (max-width: 600px) {
	.StyleCable > h5 {
		margin-top: 16em;
	}
	.StyleCable > h5 > h6 {
		margin-bottom: 8em;
	}
	.company-type {
		margin-top: 14em;
		margin-bottom: auto;
	}
	.about {
		margin-top: 30em;
	}
	.Noblis, .Morning-Envelope, .StyleCable {
		margin-bottom: 10%;
		margin-top: 3em;
	}
	hr {
	margin-top: 8em;
	}

}
